include mixin 

block variables
    - var title = 'Достопримечательности Владивостока'
    - var dictMenu = {'Главная': 'main.html', 'Все достопримечательности' : "#", 'История Владивостока': "#", 'Зарегистрироваться': "#"}
    - var listSections = [{'header' : 'Русский мост','image' : 'russkymost.jpeg','text' : 'Русский мост, соединяющий полуостров Назимова с мысом Новосильского на острове Русском имеет самый длинный в мире пролет среди вантовых мостов. Его длина составляет 1104 метра. Общая длина моста - 3,1 километра. Кроме того Русский мост является 6 в мире по высоте.'}, {'header' : 'Золотой мост','image' : 'godlbridge.jpeg','text' : 'Золотой мост — вантовый мост через бухту Золотой Рог. Идея строительства моста через Золотой Рог была выдвинута ещё в конце XIX века. В разное время её реализации мешали русско-японская война, Первая мировая, революция, Вторая мировая война и перестройка. Только в 2005 году началось проектирование строительства моста.'},{'header' : 'Токаревский маяк','image' : 'beacon.jpeg', 'text' : 'Токаревский маяк - действующий маяк во Владивостоке, туристическая и имиджевая достопримечательность.Расположен на южной точке кошки Токарёвского, обеспечивает проход судов в узости пролива Босфор Восточный в заливе Петра Великого Японского моря. Во время приливов подход к маяку размывает вода, создавая красивый пейзаж.'},{'header' : 'Русский мост','image' : 'russkymost.jpeg','text' : 'Русский мост, соединяющий полуостров Назимова с мысом Новосильского на острове Русском имеет самый длинный в мире пролет среди вантовых мостов. Его длина составляет 1104 метра. Общая длина моста - 3,1 километра. Кроме того Русский мост является 6 в мире по высоте.'}, {'header' : 'Золотой мост','image' : 'godlbridge.jpeg','text' : 'Золотой мост — вантовый мост через бухту Золотой Рог. Идея строительства моста через Золотой Рог была выдвинута ещё в конце XIX века. В разное время её реализации мешали русско-японская война, Первая мировая, революция, Вторая мировая война и перестройка. Только в 2005 году началось проектирование строительства моста.'},{'header' : 'Токаревский маяк','image' : 'beacon.jpeg', 'text' : 'Токаревский маяк - действующий маяк во Владивостоке, туристическая и имиджевая достопримечательность.Расположен на южной точке кошки Токарёвского, обеспечивает проход судов в узости пролива Босфор Восточный в заливе Петра Великого Японского моря. Во время приливов подход к маяку размывает вода, создавая красивый пейзаж.'}]

doctype html
html(lang="ru")
    head
        title #{title}
        link(rel="stylesheet", href="main.css")
    body
        header
            h2=title
        nav
            +createMenu(dictMenu, 'Главная')
        article
            each item in listSections
                section
                    +createSection(item)
        footer
            hr 
            h4 &copy Лагунова А.М., Б9121-09.03.04, 2023-2024;





//- pug --pretty example.pug
//- stylus main.styl